<div class="card border bg-transparent rounded-3">
    <div class="card-header bg-transparent border-bottom">
        <div class="row">
            <h3 class="col-6 mb-0">Liste des Hackathons</h3>
            <div class="col-3"></div>
            <button class="col-2 btn btn-success" style="margin-left: 40px" routerLink="/add-hackathon">Ajouter</button>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive border-0">
            <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
                <thead>
                <tr>
                    <th scope="col" class="border-0 rounded-start">Nom</th>
                    <th scope="col" class="border-0">Thème</th>
                    <th scope="col" class="border-0">Description</th>
                    <th scope="col" class="border-0">Date Début</th>
                    <th scope="col" class="border-0">Date Fin</th>
                    <th scope="col" class="border-0 rounded-end">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let hackathon of hackathons">
                    <td>{{ hackathon.nom }}</td>
                    <td>{{ hackathon.theme }}</td>
                    <td>{{ hackathon.description }}</td>
                    <td>{{ hackathon.dateDebut | date:'short' }}</td>
                    <td>{{ hackathon.dateFin | date:'short' }}</td>
                    <td class="d-flex align-items-center">
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger-soft btn-round mb-0 ms-1" (click)="deleteHackathon(hackathon.id!)">
                            <i class="fas fa-fw fa-times"></i>
                        </a>
                        <a  href="javascript:void (0)" [routerLink]="['/instructor/edit-hackathon', hackathon.id]"
                            class="btn btn-sm btn-success-soft btn-round me-1 mb-0">
                            <i class="far fa-fw fa-edit"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="d-sm-flex justify-content-sm-between align-items-sm-center mt-4 mt-sm-3">
            <p class="mb-0 text-center text-sm-start">Affichage de 1 à {{ hackathons.length }} hackathons</p>
        </div>
    </div>
</div>
