<app-menu
  navClassName="container-fluid px-3 px-xl-5"
  menuClassName="me-auto"
  [showCategory]="true"
  [showMegaMenu]="true"
  [SearchWithText]="true"
/>

<main>
    <index2-banner />


  <!-- =======================
Main Banner START -->

  <!-- =======================
Main Banner END -->
    <index1-trending />


  <!-- =======================
Counter START -->
  <index1-counter />
  <!-- =======================
Counter END -->

  <!-- =======================
Popular course START -->
  <!-- =======================
Popular course END -->
    <index1-live-course />

  <!-- =======================
Action box START -->
  <index1-action-box />
  <!-- =======================
Action box END -->

  <!-- =======================
Trending courses START -->
  <!-- =======================
Trending courses END -->

  <!-- =======================

Reviews END -->
    <div class="container">


    </div>
</main>

<app-footer />
