<section class="mb-9 position-relative" style="background-image:url(assets/images/bg/07.jpg); background-position: center left; background-size: cover; height: 100vh;">
  <!-- Background dark overlay -->
  <div class="bg-overlay bg-blue opacity-9"></div>
  <div class="container z-index-9 position-relative d-flex justify-content-center align-items-center" style="height: 100vh; padding-top: 0;">
    <div class="row g-4 justify-content-center align-items-center w-100 m-0">
      <!-- Content -->
      <div class="col-lg-6 text-center mb-4">
        <h1 class="text-white">Apply for Partnership</h1>
        <p class="text-white mb-3">Fill out the form below to apply for a partnership with us.</p>
      </div>

      <!-- Form -->
      <div class="col-lg-6 col-xl-6 mb-n9">
        <div class="card card-body shadow p-5 p-sm-6" style="min-width: 400px; max-width: 600px;">
          <!-- Title -->
          <h2 class="mb-4 h3 text-center">Partnership Form</h2>
          <p class="mb-4 text-center">Please provide your details below to complete your partnership application.</p>

          <!-- Form START -->
          <form [formGroup]="partnershipForm" (ngSubmit)="onSubmit()">
            <!-- Entreprise Dropdown -->
            <div class="mb-4">
              <label for="entreprise" class="form-label">Entreprise</label>
              <select id="entreprise" formControlName="entreprise" class="form-control dropdown-black-text">
                <option *ngFor="let entreprise of entreprises" [value]="entreprise.idEntreprise">
                  {{ entreprise.nameEntreprise }}
                </option>
              </select>
            </div>

            <!-- Proposals Dropdown -->
            <div class="mb-4">
              <label for="proposals" class="form-label">Proposals</label>
              <select id="proposals" formControlName="proposals" class="form-control dropdown-black-text">
                <option value="" disabled>Select a Proposal</option>
                <option *ngFor="let proposal of proposals" [value]="proposal.idProposal">{{proposal.proposalName}}</option>
              </select>
            </div>

            <div class="d-grid mt-4">
              <button type="submit" [disabled]="partnershipForm.invalid || isSubmitting" class="btn btn-dark mb-0">
                Submit
              </button>
             </div>
          </form>
          <!-- Form END -->
        </div>
      </div>
    </div> <!-- Row END -->
  </div>
</section>
