<app-menu
  navClassName="container-fluid px-3 px-xl-5"
  menuClassName="me-auto"
  [showCategory]="true"
  [showMegaMenu]="true"
  [SearchWithText]="true"
/>

<main>
    <index2-banner />

    <div class="container">
        <div class="image-container">
            <img src="https://images.idgesg.net/images/article/2020/04/zoom_video_conferencing_online_meeting_remote_workers_one_user_connected_via_laptop_with_a_grid_of_twelve_participants_on_screen_2400x1600-100837446-large.jpg?auto=webp&quality=85,70" alt="Image">
        </div>

        <div class="main">
            <div class="new-meeting">
                <button (click)="handleNewMeeting()">Create a New Meeting</button>
                <div class="join-meeting">
                    <input type="text" placeholder="Meeting ID" [(ngModel)]="meetingName">
                    <button (click)="handleJoinMeeting()">Join</button>
                </div>
            </div>
            <div class="connected-users">
                <button (click)="handleLogout()">Logout</button>
                <h2>Connected Users</h2>
                <ul>
                    <li *ngFor="let user of users">
                        <div>
                            <i class="fa fa-user-circle"></i>
                            {{ user.username }} <i class="user-email">({{ user.email }})</i>
                        </div>
                        <i class="fa fa-lightbulb-o" [ngClass]="user.status === 'online' ? 'online' : 'offline'"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <index5-event />
  <!-- =======================
Main Banner START -->

  <!-- =======================
Main Banner END -->


  <!-- =======================
Counter START -->
  <index1-counter />
  <!-- =======================
Counter END -->

  <!-- =======================
Popular course START -->
  <index1-popular-course />
  <!-- =======================
Popular course END -->

  <!-- =======================
Action box START -->
  <index1-action-box />
  <!-- =======================
Action box END -->

  <!-- =======================
Trending courses START -->
  <index1-trending />
  <!-- =======================
Trending courses END -->

  <!-- =======================
Reviews START -->
  <index1-reviews />
  <!-- =======================
Reviews END -->
</main>

<app-footer />
