
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.card-img-top {
  max-height: 160px !important;
  min-height: 160px !important;
  object-fit: cover;
  display: block;
}
.tiny-slider-inner > div {
  width: 100% !important;
  max-width: 320px;
  margin: auto;
}

