<div class="table-responsive border-0">
  <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
    <thead>
      <tr>
        <th scope="col" class="border-0 rounded-start">ID</th>
        <th scope="col" class="border-0">Username</th>
        <th scope="col" class="border-0">Email</th>
        <th scope="col" class="border-0">Role</th>
        <th scope="col" class="border-0 rounded-end">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (user of paginatedUsers; track user.id) {
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ getRoleNames(user.roles) }}</td>
          <td>
            <div class="d-flex gap-2">
              <button class="btn btn-light btn-round"
                      ngbTooltip="View Details"
                      placement="top"
                      >
                <i class="bi bi-eye"></i>
              </button>
              <button class="btn btn-light btn-round"
                      ngbTooltip="Edit User"
                      placement="top"
                      >
                <i class="bi bi-pencil"></i>
              </button>
              <button class="btn btn-light btn-round text-danger"
                      ngbTooltip="Delete User"
                      placement="top"
                      >
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-center mt-3">
  <ngb-pagination [(page)]="page" 
                  [pageSize]="pageSize"
                  [collectionSize]="collectionSize"
                  size="sm">
  </ngb-pagination>
</div>